<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tolearn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/learninglogo2"
        android:label="Amoozande"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/learninglogo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToLearn"
        android:usesCleartextTraffic="true">

        <activity android:name=".ChatActivity" android:exported="true">
        </activity>
        <activity android:name=".chat" android:exported="true">
        </activity>
        <activity
            android:name=".ExamStart"
            android:exported="false" />
        <activity
            android:name=".faq"
            android:exported="false" />
        <activity
            android:name=".ExamProfile"
            android:exported="true"></activity>
        <activity
            android:name=".ExamUpdate"
            android:exported="true"></activity>
        <activity
            android:name=".Homework_results"
            android:exported="false" />
        <activity
            android:name=".DetailSubmit"
            android:exported="false" />
        <activity
            android:name=".Homework_detail"
            android:exported="false" />
        <activity
            android:name=".ClassProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_class_profile"
            android:theme="@style/Theme.ToLearn.NoActionBar" />
        <activity
            android:name=".ClassSearch"
            android:exported="false" />
        <activity
            android:name=".manageClass"
            android:exported="true" />
        <activity
            android:name=".class_creation_page_2"
            android:exported="false" />
        <activity
            android:name=".Class_creation"
            android:exported="false" />
        <activity
            android:name=".AlertDialogs.CustomAlertDialog"
            android:exported="false" />
        <activity
            android:name=".SignUpSecondPage"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ToLearn.NoActionBar" />
        <activity
            android:name=".ForgetPassword"
            android:exported="true" />
        <activity
            android:name=".AlertDialogs.HomeworkCreationDialog"
            android:exported="true" />
        <activity
            android:name=".AlertDialogs.HomeworkEditDialog"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".SendEmailForgetPassword"
            android:exported="true" />
    </application>

</manifest>